<!-- templates/homepage.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body class="homepage_body">
    <!-- Navigation bar in the upper right corner -->
    <header class="navbar">
        <a href="/" class="home-icon-link">
            <img src="/static/WedjatEye.png" alt="Home" class="home-icon">
        </a>
        <nav class="nav-links">
            <a href="/super-resolution" class="nav-item">Super-Resolution</a>
        </nav>
    </header>

    <div class="container">
        <!-- The title is centered on the page -->
        <h1 class="main-title">Wedjat Eye Project</h1>
        <p class="subtitle">This is the homepage of the Wedjat Eye Project.</p>
    </div>
</body>
</html>
