<!-- templates/homepage.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body class="homepage_body">
    <!-- Navigation bar in the upper right corner -->
    <header class="navbar">
        <a href="/" class="home-icon-link">
            <img src="/static/WedjatEye.png" alt="Home" class="home-icon">
        </a>
        <nav class="nav-links">
            <a href="/super-resolution" class="nav-item">Super-Resolution</a>
        </nav>
    </header>

    <div class="carousel-container">
        <div class="carousel">
            {% for image in central_images %}
            <div class="carousel-slide">
                <a href="{{ image.link }}">
                    <img src="{{ image.url }}" alt="{{ image.text }}">
                    <div class="carousel-text">{{ image.text }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

</body>
</html>
