<!-- templates/homepage.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body class="homepage_body">
    <div class="container">
        <!-- Title positioned at the very top -->
        <h1 class="main-title">Welcome to Wedjat Eye Project</h1>

        <p class="subtitle">This is the homepage of the Wedjat Eye Project.</p>

        <!-- Navigation links -->
        <a class="link-bottom" href="/super-resolution">Go to Super-Resolution Page</a>
    </div>
</body>
</html>
